 nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 45px;
  background-color: #101010;
  padding: 5px 10px;
  box-sizing: border-box;
  z-index: 9001; }
  nav .logo {
    color: #F0F0F0;
    font-family: TeX, serif;
    font-size: 30px;
    padding: 1px 0 4px 0; }
  nav .threebars {
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
    width: 40px;
    text-align: center; }
    nav .threebars div {
      position: absolute;
      top: 5px;
      border-bottom: 14px double #F0F0F0;
      border-top: 5px solid #F0F0F0;
      content: "";
      height: 5px;
      width: 30px;
      margin: 5px 0; }

.container {
  margin: 10px auto;
  width: 590px;
}

.login { 
height:100px;
width:300px;
margin:80px;
padding:50px;
padding-top: 200px;
}
	.login h1 {
	  margin: -20px -20px 21px;
	  line-height: 40px;
	  font-family: TeX, serif;
	  font-size: 15px;
	  font-weight: normal;
	  color: #F0F0F0;
	  text-align: center;
	  background-color: #101010;
	  border-bottom: 2px solid #FFFFFF;
	  border-radius: 3px 3px 0 0;
	}
	.login input[type=text], .login input[type=password] {
	  position: relative;
	  top: 20px;
	  padding: 8px;
	  width: 278px;
	  background-color: #F0F0F0;
	}
	.login p {
		font-size: 12px;
		font-weight: lighter;
		padding-bottom: 8px;
	}
	.login	input[type=button] {
		position: relative;
		top: 12px;
		left: 110px;
		background-color: #F0F0F0;
	}

input { 
	background: #E1FFE1;
	border:1px #CCC solid;
	padding:5px;
 }
