@import "variables";
@import "navigation";

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: $white;
}

.container {
  margin: 10px auto;
  width: 590px;
}

.login { 
height:100px;
width:300px;
margin:80px;
padding:50px;
padding-top: 200px;
    h1 {
      margin: -20px -20px 21px;
      line-height: 40px;
      font-family: TeX, serif;
      font-size: 15px;
      font-weight: normal;
      color: #F0F0F0;
      text-align: center;
      background-color: #101010;
      border-bottom: 2px solid #FFFFFF;
      border-radius: 3px 3px 0 0;
    }
    input[type=text], 
    input[type=password] {
      position: relative;
      top: 20px;
      padding: 8px;
      width: 278px;
      background-color: #F0F0F0;
    }
    p {
        font-size: 12px;
        font-weight: lighter;
        padding-bottom: 8px;
    }
    input[type=button] {
        position: relative;
        top: 12px;
        left: 110px;
        background-color: #F0F0F0;
    }
}

input { 
	background: #E1FFE1;
	border:1px #CCC solid;
	padding:5px;
 }